*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    --bg--: #0d2538;
    --textColor: #b4b4b4;
    --accent: #42b983;
    --highlightColor--: #e0d1ad;
    --blueHighlight--: rgb(86,241,255);
    
}

.bold{
    font-weight: bold;
    color: var(--blueHighlight--);
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F1F5;
}


.modal__tab{
    position: relative;;
    background-color: var(--bg--);
    max-width: 1200px;
    color: white;
    padding: 36px;
    font-size: 16px;
    margin: 10px 40px;
    border-radius: 10px;
}

.modal__description{
    display: flex;
    
}
.modal__img{
    border: solid 3px var(--blueHighlight--);
    border-radius: 10px;
    margin-bottom: 20px;
}
.modal__right{
    width: 70%;
    padding-left: 20px;
}

.modal__name{
    font-size: 36px;
}

.fa-x,
.fa-heart{
    position: absolute;
    right: 30px;
    font-size: 20px;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

.fa-x:hover,
.fa-heart:hover{
    transform: scale(1.1);
}


.fa-heart:hover,
.favorite__active{
    color: rgb(249, 70, 70);
}