*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    --bg--: #0d2538;
    --textColor: #b4b4b4;
    --accent: #42b983;
    --highlightColor--: #e0d1ad;
    --blueHighlight--: rgb(86,241,255);
    
}

html{
    scroll-behavior: smooth;
}


li{
    text-decoration: none;
}


ul{
    display: flex;
    list-style: none;
}

br{
    height: 6px;
    width: 100vw;
    background-color: var(--highlightColor--);
}

a{
    text-decoration: none;
    color: inherit;
}

/* 

~~ NAV BAR ~~

*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    background-color: var(--bg--);
}

.logo__img{
    width: 120px;
}


.link__icon{
    font-size: 28px;
    color: var(--highlightColor--);
    padding: 10px;
    transition: all ease-in 300ms;
}

.nav_list{
    opacity: 0;
}

.links:hover{ 
    transform: scale(1.1);
    cursor: pointer;
}



/* 

~~ SEARCH BAR ~~

*/
.search__bar{

    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 40vw;
}


/* 

FILTER

*/
select{
    padding: 10px 20px;
    margin: 30px;
    font-weight: bold;
    color: gray;
    margin-bottom: 0px;
}





/* 

~~ LANDING PAGE ~~

*/
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.landing__logo{
    width: 85vw;
    max-width: 600px;
}

.title{
    font-size: 40px;
    margin: 20px 10px;
    text-align: center;
    color: var(--bg--);
}

.sub-title{
    font-size: 24px;
    padding: 10px 20px;
    text-align: center;
    max-width: 1000px;
}

.start_btn{
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    color: var(--blueHighlight--);
    background-color: var(--bg--);
    margin-top: 10px;
    cursor: pointer;
    transition: all 300ms ease-in;
}

.start_btn:hover{
    color: var(--highlightColor--);
    transform: scale(1.05);
}

/* 

~~ CATEGORY BUTTON ~~

*/
.category__nav{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.category__List{
    background-color: var(--bg--);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
    background-color: white;
    max-width: 1000px;
    margin: 20px;
    border: solid 5px var(--bg--);
    border-radius: 5px;
    opacity: 0;
}

.category{
    padding: 15px 20px;
    transition: all ease-in 200ms;
}

.category:hover,
.button__select{
    filter: brightness(1.5);
    transform: scale(1.1) ;
}


/* 

~~ENTRIES CARD~~

*/

.entries{
    opacity: 0;
}


.entries__lists{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.entries__card{
    display: flex;
    flex-direction: column;
    border: solid 5px transparent;
    width: calc(100%/6.2);
    min-width: 250px;
    border-radius: 15px;
    overflow: hidden;
    margin: 50px 24px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all ease-in 300ms;
}

.entries__card:hover {
    transform: translateY(-20px);
    border-color: var(--bg--);
}

.entries__card:hover .entry__name{
    color: #0F68B8;
}

.entries__card:hover .entry__id{
    background-color: black;
}

.entry__info{
    margin: 16px;
}

.entry__name{
    font-size: 24px;
    text-transform: capitalize;
    transition: all ease-in-out 300ms;
}

.entry__id{
    font-size: 16px;
    border: 3px solid var(--bg--);
    background-color: var(--bg--);
    color: var(--blueHighlight--);
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    padding: 3px 10px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all ease-in-out 300ms;

}

.entry__category{
    font-size: 20px;
}


.loading__state{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


/* 

MODAL

*/

.bold{
    font-weight: bold;
    color: var(--blueHighlight--);
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F1F5;
}


.modal__tab{
    position: relative;;
    background-color: var(--bg--);
    max-width: 1200px;
    color: white;
    padding: 36px;
    font-size: 16px;
    margin: 10px 40px;
    border-radius: 10px;
}

.modal__description{
    display: flex;
    
}
.modal__img{
    border: solid 5px #E4FBFF;
    border-radius: 10px;
    margin-bottom: 20px;
}
.modal__right{
    width: 70%;
    padding-left: 20px;
}

.modal__name{
    font-size: 36px;
    text-transform: capitalize;
}

.modal__category{
    text-transform: capitalize;
}

#favorite__btn,
#close__btn{
    position: absolute;
    right: 30px;
    font-size: 20px;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

#favorite__btn:hover,
#close__btn:hover{
    transform: scale(1.2);
}

.fa-heart:hover,
.favorite__active{
    color: rgb(249, 70, 70);
}


/* 

~~ FOOTER ~~

*/

footer{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img{
    width: 100px;
}

.footer__social--list{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/* 

~~ ANIMATION ~~

*/
.hidden{
    animation: fadeUp 0.6s ease-out forwards;
    z-index: -2;
}

.visible{
    animation: fadeIn 1000ms ease-out forwards;
}

.appear{
    animation: appear 1000ms ease forwards;
}

.disappear{
    animation: disappear 0.9s ease-out forwards;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes fadeUp{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-20px);
        display:none;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(50px);
        
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
    }
}


/*

RESPONSIVE

*/


/* Moble view */
@media(max-width: 430px){
    .logo{
        display: none;
    }

    .title{
        font-size: 24px;
    }

    .sub-title{
        font-size: 18px;
    }

    .start_btn{
        font-size: 18px;
    }

    .modal__tab{
        width: 330px;
        margin: 5px;
    }
    .modal__description{
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        padding: 30px 0px;
    }

    .modal__right{
        padding: 0px;
    }

    .modal__img{
        width: 200px;
    }

    .modal__name{
        font-size: 16px;
    }
}